:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-family: "Dunkin", sans-serif;
  font-family: "Dunkin Sans", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #ff69b4;
  text-decoration: inherit;
}
a:hover {
  color: "#F77196";
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: peachpuff;
  /* background-color: papayawhip; */
  /* background-image: url(assets/moreDonuts.jpg); */
  /* background-repeat: no-repeat; */
  /* background-size: cover; */
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: #520b09;
}

h2 {
  color: #520b09;
}
h3 {
  color: #520b09;
}
h4 {
  color: #520b09;
}
h5 {
  color: #520b09;
}

p {
  color: #fcbf66;
}

ul {
  color: #fcbf66;
}

span {
  color: #520b09;
}

button {
  border-radius: 8px;
  border: 2px solid; /*transparent*/
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  background-color: #fcbf66;
  color: #520b09;
}
button:hover {
  border-color: #f77196;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.img {
  margin: auto;
  cursor: pointer;
  transition: 1s;
}
.img:hover {
  transition: 1.5s;
  transform: scale(1.5);
}

input {
  background: transparent;
  outline: none;
  border: 2px solid #fcbf66;
  border-radius: 5px;
  padding: 0 15px;
  box-shadow: 0 0 10px #fcbf66, inset 0 0 10px #fcbf66;
  color: #520b09;
}
input::placeholder {
  color: #520b09;
  text-align: center;
  font-weight: bold;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: "#F77196";
  }
  button {
    background-color: #fcbf66;
    color: #520b09;
  }
}
